$font-size: 14px;
$button-height: 32px;
$button-bg: #fff;
$button-active-bg: #eee;
$border-radius: 4px;
$color: #333;
$border-color: #999;
$border-color-hover: #666;
$grey: #ddd;
$red: #F1453D;
$blue: #1890ff;
$box-shadow-color: rgba(0,0,0,.5);
$tab-height: 40px;
$border-color-ddd: #ddd;
$disabled-text-color: grey;
$toast-min-height: 40px;
$toast-bg: rgba(0,0,0,0.75);
$animation-duration: 300ms;